.flexdropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 90px;
  margin-left: 40px;
}
.accomodation {
  display: flex;
  gap: 30px;
  align-items: center;
}

.titletag {
  color: white;
  font-size: 19px;
}

.calender {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 800px;
  height: 65px;
  padding: 25px;
  color: black;
  border-radius: 35px;
}

.dropicon {
  background-color: #ff385d;
  justify-content: flex-end;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  left: 30px;
}
.bssearch {
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}
.topandbottom {
  line-height: 0;
}
.toptext {
  font-weight: 600;
  font-size: 14px;
}
.bottomtext {
  font-size: 14px;
  color: grey;
}
.vl {
  border-left: 1px solid grey;
  height: 35px;
  position: relative;
  bottom: 10px;
}
