.flexdropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 90px;
  margin-left: 40px;
}
.accomodation{
  display: flex;
  gap: 30px;
  align-items: center;
}

.titletag{
  color: white;
  font-size: 19px;
}

.calender{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    width: 820px;
    height: 60px;
    padding: 25px;
    color: black;
    border-radius: 35px;
}

.dropicon{
  background-color: #ff385d;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.bssearch {
  color: #ffffff;
  font-size: 20px;
}
.topandbottom{
  line-height: 0;
  /* padding: 20px; */
}
.toptext{
  font-weight: 600;
  font-size: 14px;
}
.bottomtext{
  font-size: 14px;
  color:grey;
}